<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>signin page</title>
</head>
<body>
<div th:insert="~{common :: common__head}"></div>
<div th:insert="~{header :: header__body}"></div>
    Signin
    <form>
        <label>
            login
        </label>
        <input type="text"/>
        <br/>
        <label>
            password
        </label>
        <input type="text"/>
        <br/>
        <input type="submit" value="sign in"/>
    </form>
<div th:insert="~{footer :: footer__body}"></div>
</body>
</html>