<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup page</title>
</head>
<body>
    Signup
    <form>
        <label>
            login
        </label>
        <input type="text/">
        <br/>
        <label>
            password
        </label>
        <input type="text"/>
        <br/>
        <label>
            password
        </label>
        <input type="text"/>
        <br/>
        <label>
            email
        </label>
        <input type="text"/>
        <br/>
        <input type="submit" value="sign in"/>
    </form>
</body>
</html>